{% extends 'content.html.twig' %}

{% block title %}Musique - dhamien.fr{% endblock %}
{% block heading %}Musique{% endblock %}

{% block body %}
<section id="angatchalo">
    <h2>Angatchalo</h2>
    <img src="/media/musique/angatchalo.jpg" class="float-right ml-3 mb-3 w-64 lg:w-80" alt="Angatchalo">
    <p>En concert, Angatchalo vous propose une croisière musicale sur les eaux mélangées du Gange et du Niger.</p>
    <p>Face à l'étonnant mariage de cordes du kamalé n'goni d'Afrique de l'Ouest et du sitar indien, La flûte traversière offre un trait d'union&hellip; qui nous permet de vous conter, en musique, la possibilité d'un autre monde de rencontres et d'harmonie.</p>
    <ul>
        <li>Consulter <a href="https://www.angatchalo.com">le site internet</a></li>
        <li>Regarder <a href="https://www.youtube.com/watch?v=Nm7_w4Dqf2I&amp;list=RDNm7_w4Dqf2I">le teaser vidéo</a></li>
        <li>Ecouter <a href="https://angatchalo.bandcamp.com/album/farafindia">un extrait audio</a></li>
        <li>Télécharger <a href="/media/musique/angatchalo.pdf">la plaquette</a></li>
    </ul>
    <p>Le spectacle familial <strong>Terre(s) nomade(s)</strong> propose quant à lui une exploration des musiques de l'ancien Gondwana, super continent qui reunissait l'Inde, l'Afrique et l'Amerique du Sud.</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=Tmzx_ODHuZA">Voir la vidéo de présentation</a></li>
        <li>Télécharger <a href="/media/spectacles/terre_nomade.pdf">la plaquette du spectacle</a></li>
        <li>Télécharger <a href="/media/musique/formule_all_inclusive.pdf">la plaquette &laquo;&nbsp;formule all inclusive&nbsp;&raquo;</a></li>
    </ul>
    <div class="clear-both"></div>
</section>

<section id="didji-schmoutzi">
    <h2>Didji Schmoutzi</h2>
    <img src="/media/musique/dj_schmutzy.jpg" class="float-right ml-3 mb-3 w-64" alt="Didji Schmoutzi">
    <p>Funk, soul, world music&hellip; laissez vous tenter par une sélection nourrie de nombreuses heures de recherches dans les bacs de mes disquaires préférés. Il y a de bonnes chances que vous connaissiez les artistes mais peut être pas certains des titres moins connus que je vous propose de découvrir. Let's dance !</p>
    <ul>
        <li>Télécharger <a href="/media/musique/didji_schmoutzi_plaquette.pdf">la plaquette</a></li>
        <li>Télécharger <a href="/media/musique/didji_schmoutzi_playlist.pdf">la playlist</a></li>
    </ul>
    <p>Écouter une playlist &laquo;&nbsp;A la table de Didji Schmoutzi&nbsp;&raquo; sur&nbsp;:</p>
    <ul>
        <li><a href="https://www.deezer.com/en/playlist/13936221981">Deezer</a></li>
        <li><a href="https://open.spotify.com/playlist/7f8d1ztNjNeVOpOhpwiOCt">Spotify</a></li>
        <li><a href="https://music.youtube.com/playlist?list=PLzZxjcVkoqyJ91BlClXMi0uX7RY2ldY9Q&amp;si=3G1uzLHHhXDyHvWB">YouTube Music</a></li>
    </ul>
    <div class="clear-both"></div>
</section>

<section id="batucada">
    <h2>Batucada &laquo;&nbsp;Be a Peace Maker&nbsp;&raquo;</h2>
    <img src="/media/musique/bpm_baguettes.jpg" class="float-right ml-3 mb-3 w-64" alt="Batucada BPM">
    <p>Fanfare de percussions brésiliennes née au conservatoire de Maizières les Metz. Le répertoire est composé de rythmes et chants traditionnels brésiliens mais s'inspire également des musiques d'autres pays et continents (Inde, Afrique&hellip;) ainsi que des musiques actuelles (funk, rock&hellip;)</p>
    <ul>
        <li>Voir <a href="http://82.64.147.29">le site internet</a></li>
    </ul>
    <div class="clear-both"></div>
</section>

<section id="balade-musicale">
    <h2>Balade musicale</h2>
    <img src="/media/musique/balade_musicale.jpg" class="float-right ml-3 mb-3 w-64" alt="Balade musicale">
    <p>Accompagné d'un kamalé n'goni (harpe, Afrique de l'ouest), de kalimbas (lamellophone, Zimbawé), d'un berimbau (arc musical brésilien) &hellip; et de mes humbles* cordes vocales, je vous ferai voyager low cost dans votre campagne. Itinéraire et nombres de pauses musicales à établir avec les organisateurs.</p>
    <p>N.B. J'assume pleinement la responsabilité météorologique d'éventuelles fausses notes.</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=el61lLEdcXM">Gumukumu-Gova rine Manda</a></li>
    </ul>
    <div class="clear-both"></div>
</section>

<section id="moods">
    <h2>Moods, déclinaisons indiennes. Musique du monde.</h2>
    <img src="/media/musique/moods.jpg" class="float-right ml-3 mb-3 w-64 lg:w-80" alt="Moods">
    <p>Croisée des chemins de plusieurs univers autour du chaturangui de Reno Daniaud.</p>
    <p>Accompagné aux percussions par Dhamien Schmutz.</p>
    <p>Grâce à leur parcours respectif, Reno et Dhamien ont choisi d'incorporer d'autres influences musicales dans le répertoire de Moods &hellip; Les tablas s'entourent de calebasses, senza, udu, guimbardes &hellip; alors que le chaturangui flirte avec des couleurs créoles, donne à cette pentatonique un parfum de blues &hellip;</p>
    <p>Moods s'appuie et s'inspire du paysage musical indien en y empruntant les codes et astuces&hellip;et y glisse une saveur particulière faite des musiques du monde, du monde des musiques. Liberté de jouer avec les notes, avec le temps. Faire tourner ce refrain rythmique et s'y perdre. Dialoguer, échanger. S'arrêter. Trouver la résonance. Puis repartir.</p>
    <p><a href="https://renodanio.bandcamp.com/album/moods">Ecoutez l'album</a></p>
    <p>Ce duo propose également des stages de chant indien. Découverte de la voix à travers la musique indienne, le chant harmonique et le Konnakol.</p>
    <p>Ce stage propose un travail vocal à travers le chant des voyelles, leur résonance harmonique, et une initiation au vocabulaire musical indien ainsi qu'un travail rythmique avec le Konnakol, système phonétique d'Inde du Sud.</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=ewGZCcMQon8">Ganapati</a></li>
        <li><a href="https://www.youtube.com/watch?v=zVn70h63z3E">Shéhérazade</a></li>
        <li><a href="https://www.youtube.com/watch?v=894yl1bG5F8">Satori</a></li>
    </ul>
    <div class="clear-both"></div>
</section>

<section id="autres-collaborations">
    <h2>Autres collaborations</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=8SRxb-KL8dI">Dradivarian</a></li>
        <li><a href="https://www.youtube.com/watch?v=Ped7hLyykKk">Savana</a></li>
        <li><a href="https://www.youtube.com/watch?v=PsoPQiNG35g">Mue</a></li>
        <li><a href="https://www.youtube.com/watch?v=53YYTHcFJJQ">Tablas duet</a></li>
    </ul>
</section>
{% endblock %}
