{% extends 'content.html.twig' %}

{% block title %}Blog de voyage - dhamien.fr{% endblock %}
{% block heading %}Blog de voyage{% endblock %}

{% block body %}
<p>En travaux&hellip;</p>
<p>Cette section sera bientôt disponible.</p>
{% endblock %}
