{% extends 'content.html.twig' %}

{% block title %}Photos de voyage - dhamien.fr{% endblock %}
{% block heading %}Photos de voyage{% endblock %}

{% block body %}
<div class="photo-gallery">
    <img src="/media/voyages/nz.jpg" alt="100% pure NZ">
    <img src="/media/voyages/adoption.jpg" alt="Adoption">
    <img src="/media/voyages/avendre.jpg" alt="A vendre">
    <img src="/media/voyages/comment.jpg" alt="Comment ?">
    <img src="/media/voyages/constantinople.jpg" alt="Constantinople">
    <img src="/media/voyages/dakar.jpg" alt="Dakar">
    <img src="/media/voyages/singes.jpg" alt="Entre singes ...">
    <img src="/media/voyages/hampi.jpg" alt="Hampi">
    <img src="/media/voyages/rickshaw.jpg" alt="Les rickshaw de Behala">
    <img src="/media/voyages/piquenique.jpg" alt="Invité de pique-nique">
    <img src="/media/voyages/kangourou.jpg" alt="Kangourou">
    <img src="/media/voyages/lion.jpg" alt="Le lion des mers">
    <img src="/media/voyages/millilan.jpg" alt="Millilan Gali Riveri">
    <img src="/media/voyages/sommet.jpg" alt="Un sommet annapurnien">
    <img src="/media/voyages/virage.jpg" alt="Un virage himalayen">
    <img src="/media/voyages/volcan.jpg" alt="Volcan ?">
    <img src="/media/voyages/cockatoo.jpg" alt="White cockatoo">
    <img src="/media/voyages/wiliapa.jpg" alt="Wiliapa">
</div>
{% endblock %}
