{% extends 'content.html.twig' %}

{% block title %}Contact - dhamien.fr{% endblock %}
{% block heading %}Contact{% endblock %}

{% block body %}
<p><strong>Kieffer-Schmutz Dhamien</strong></p>
<p>47 bis rue principale, 57320 Filstroff</p>
<p>Téléphone : 06-74-91-91-55</p>
<p>Mail : <a href="mailto:ecrire@dhamien.fr">ecrire@dhamien.fr</a></p>
{% endblock %}
