{% extends 'content.html.twig' %}

{% block title %}Photos - dhamien.fr{% endblock %}
{% block heading %}Photos{% endblock %}

{% block body %}
<p>Quelques images &hellip;</p>

<div class="photo-gallery">
    <img class="lightbox-img" src="/media/infos/photos/arnaud_eurin.jpg" alt="Arnaud Eurin">
    <img class="lightbox-img" src="/media/infos/photos/at_home.jpg" alt="At home">
    <img class="lightbox-img" src="/media/infos/photos/chet_nuneta.jpg" alt="Avec Chet Nuneta">
    <img class="lightbox-img" src="/media/infos/photos/gurudji.jpg" alt="Avec Gurudji Pandit Shankar Ghosh">
    <img class="lightbox-img" src="/media/infos/photos/break_nuneta.jpg" alt="Break nuneta">
    <img class="lightbox-img" src="/media/infos/photos/caravana_sun.jpg" alt="Caravana sun">
    <img class="lightbox-img" src="/media/infos/photos/duo_hindustani.jpg" alt="Duo Hindustani">
    <img class="lightbox-img" src="/media/infos/photos/eko_batucada.jpg" alt="EKO Batucada">
    <img class="lightbox-img" src="/media/infos/photos/emmanuel_et_gopal.jpg" alt="Emmanuel Simon et Gopal Das">
    <img class="lightbox-img" src="/media/infos/photos/manutention.jpg" alt="La manutention">
    <img class="lightbox-img" src="/media/infos/photos/tamtams.jpg" alt="La réunion des tamtams">
    <img class="lightbox-img" src="/media/infos/photos/tamtams2.jpg" alt="La réunion des tamtams encore">
    <img class="lightbox-img" src="/media/infos/photos/bouldegom.jpg" alt="Mister Bouldegom Adagio">
    <img class="lightbox-img" src="/media/infos/photos/moods.jpg" alt="Moods">
    <img class="lightbox-img" src="/media/infos/photos/moods2.jpg" alt="Moods encore">
    <img class="lightbox-img" src="/media/infos/photos/planet_drum.jpg" alt="Planet Drum">
    <img class="lightbox-img" src="/media/infos/photos/takite.jpg" alt="TakitéTakitéTakité">
    <img class="lightbox-img" src="/media/infos/photos/tamtams_paradise.jpg" alt="Tamtams paradise">
    <img class="lightbox-img" src="/media/infos/photos/mains_qui_causent.jpg" alt="Les mains qui causent">
    <img class="lightbox-img" src="/media/infos/photos/reunion_tamtams.jpg" alt="La réunion des tamtams">
</div>

{% endblock %}
