{% extends 'content.html.twig' %}

{% block title %}Dossier de presse - dhamien.fr{% endblock %}
{% block heading %}Dossier de presse{% endblock %}

{% block body %}
<ul>
    <li><a href="/media/infos/vosges_matin2011.pdf">Vosges matin, septembre 2011</a></li>
    <li><a href="/media/infos/echo_vosges2016.pdf">L'écho des Vosges, novembre 2016</a></li>
</ul>
{% endblock %}
