{% extends 'content.html.twig' %}

{% block title %}Présentation - dhamien.fr{% endblock %}
{% block heading %}Présentation{% endblock %}

{% block body %}
<p>Le rythme est en nous, il est universel et pourtant si différent d'un continent à l'autre. Les percussions sont de ce fait une véritable invitation au voyage et à l'échange. L'apprentissage du rythme en Inde, en Afrique et à Cuba m'a confirmé les bienfaits quotidiens de la musique.</p>

<p>Les percussions corporelles permettent une découverte globale des musiques de notre monde (Brésil, Afrique, Orient&hellip;), de styles musicaux (funk, Hip Hop, rock&hellip;) et des résonances de notre corps dans des compositions collectives. Ne nécessitant ni une technique débordante ni un équipement particulier, elles sont naturellement abordables par tous.</p>

<p>Les musiques traditionnelles donnent une place très importante au rythme ; souvent étudié par les mélodistes avant même le choix de leur instrument. Pour cette raison, je vous propose ce dossier &laquo;&nbsp;enseignement et spectacle vivant&nbsp;&raquo; qui regroupe une présentation détaillée de mes stages et ateliers, ainsi que mes différentes formations musicales.</p>

<ul>
    <li><a href="/media/infos/dossier_centre_formation.pdf">Télécharger le dossier pour centre de formation</a></li>
    <li><a href="/media/infos/pack_photo.zip">Télécharger le pack photo</a></li>
    <li><a href="/media/cours/du_corps_a_la_voix.pdf">Télécharger la plaquette &laquo;&nbsp;du corps à la voix &hellip; et vice versa&nbsp;&raquo;</a></li>
</ul>
{% endblock %}
