{% extends 'content.html.twig' %}

{% block title %}Agenda - dhamien.fr{% endblock %}
{% block heading %}Agenda{% endblock %}

{% block body %}
<div class="responsive-iframe responsive-iframe-tall">
    <iframe src="https://calendar.google.com/calendar/embed?src=itpp29m2dhjqim3d37onhr2j6s%40group.calendar.google.com&ctz=Europe%2FParis" scrolling="no" title="Agenda Google Calendar"></iframe>
</div>
{% endblock %}
