{% extends 'content.html.twig' %}

{% block title %}Biographie - dhamien.fr{% endblock %}
{% block heading %}Biographie{% endblock %}

{% block body %}
<div class="flex flex-col items-center">
    <img src="/media/cours/carte_orange.jpg" alt="Carte de visite Dhamien Schmutz">
    <p><a href="/media/cours/cv_schmutz_damien.pdf">Télécharger le CV</a></p>
</div>
{% endblock %}
