{% extends 'content.html.twig' %}

{% block title %}Stages &amp; Masterclass - dhamien.fr{% endblock %}
{% block heading %}Stages &amp; Masterclass{% endblock %}

{% block body %}
<div>
    <img src="/media/cours/bogoss.jpg" class="float-right ml-3 mb-3 w-64 lightbox-img" alt="Dhamien Schmutz">
    <p>Enrichi de l'enseignement de professeurs rencontrés lors de résidences en Inde, à Cuba et au Sénégal (Pandit Shankar Ghosh à Calcutta, Milian Gali Rivieri à Santiago de Cuba&hellip;) je propose aujourd'hui, selon la demande, des cours particuliers et collectifs de rythme, instrumental et corporel.</p>
    <div class="clear-both"></div>
</div>

<section id="percussions">
    <h2>Percussions</h2>
    <p>Tablas, congas, cajon, petites percussions (caxixi, kass kass, guiro&hellip;) rythmes indiens, afrolatino, rumba&hellip;</p>
</section>

<section id="bodypercussions">
    <h2>Percussions corporelles</h2>
    <p>Les percussions corporelles permettent une découverte globale des musiques de notre monde (Brésil, Afrique, orient&hellip;), de styles musicaux (funk, Hip Hop, rock&hellip;) et des résonances de notre corps dans des compositions collectives. Ne nécessitant ni une technique débordante ni un équipement particulier, elles sont naturellement abordables par tous.</p>
    <ul>
        <li><a href="/media/cours/du_corps_a_la_voix.pdf">Télécharger la plaquette</a></li>
        <li><a href="/media/cours/bodypercussions_affiche.jpg">Télécharger l'affiche</a></li>
    </ul>
</section>

<section id="konnakol">
    <h2>Konnakol</h2>
    <p>Le konnakol est un système rythmique phonétique d'Inde du Sud. Il s'agit de combinaisons d'onomatopées chantées, accompagnées de claps de mains figurants un cycle rythmique. Il est enseigné en Inde aussi bien aux rythmiciens, qu'aux mélodistes et aux danseurs. Les différents jeux et exercices proposés apportent une réelle libération rythmique.</p>
    <p><a href="/media/cours/plaquette rythmes d'inde.pdf">Télécharger la plaquette</a></p>
</section>

<section id="beatbox">
    <h2>Beatbox</h2>
    <p>Littéralement &laquo;&nbsp;boite à rythme&nbsp;&raquo;, imitation de percussions grâce à l'accentuation des consonnes d'onomatopées spécifiques (grosses caisses, caisses claires, charlestons&hellip;). Technique offrant la possibilité de chanter plusieurs voix en même temps.</p>
</section>

<section id="batucada">
    <h2>Batucada</h2>
    <p>La batucada, d'origine brésilienne est un ensemble d'instruments, constituant une batterie de percussions. Plusieurs familles de percussions alliant surdos (grosses caisses), caixa (caisses claires), Agogo (cloches à double sonorité), tamborin, ganza (shaker) &hellip; permettent à l'orchestre de se déplacer tout en jouant des polyrythmies traditionnelles (samba, Baiao, maracatu &hellip;) et modernes (funk, samba reggae) dirigées par un meneur ou chef d'orchestre.</p>
</section>

<section id="soundpainting">
    <h2>Soundpainting / Circle Songs</h2>
    <p><strong>Le soundpainting</strong> est un langage gestuel de création artistique multidisciplinaire en temps réel, élaboré par Walter Thompson dans les années 70. Il est destiné à des musiciens, des danseurs, acteurs et plasticiens. En évolution constante, ce langage comporte plus de 1200 signes de la main et corporels qui désignent différents types de matériaux artistiques &hellip;</p>
    <p>Je me suis tout particulièrement intéressé à la proposition du percussionniste argentin Santiago Vasquez qui propose des signes pour orchestres de percussions.</p>
    <p><strong>Le Circle Song</strong> est un principe de chant en groupe simple et ancien selon lequel un groupe de chanteurs disposés en cercle &laquo;&nbsp;fait tourner&nbsp;&raquo; un motif chanté de base, inspiré d'influences africaines, latines, groove, folklore traditionnel ou jazz. Le Circle Song offre aux chanteurs un contexte privilégié d'écoute, de partage, et d'exploration de l'improvisation vocale. Il existe différentes manières d'orchestrer des Circle Songs, de la proposition imposée par le chef d'orchestre à l'improvisation totale sans ou avec plusieurs meneurs. Ces ateliers seront l'occasion d'explorer des chants traditionnels d'origines diverses, en polyphonie, selon la tradition orale (pas de partitions).</p>
</section>
{% endblock %}
