{% extends 'content.html.twig' %}

{% block title %}Liens - dhamien.fr{% endblock %}
{% block heading %}Liens{% endblock %}

{% block body %}
<section id="pedagogues-autres">
    <h2><a href="https://les-schmoutzoliens-1.jimdosite.com">PEDAGOGUES &amp; AUTRES</a></h2>
</section>

<section id="coups-de-coeur">
    <h2><a href="https://messchmutzcoeurs.jimdosite.com">MES COUPS DE COEUR (Lecture &amp; Audiovisuels)</a></h2>
</section>
{% endblock %}
