{% extends 'content.html.twig' %}

{% block title %}Liens - dhamien.fr{% endblock %}
{% block heading %}Liens{% endblock %}

{% block body %}
<section id="artistes">
    <h2>Artistes</h2>
    <ul>
        <li><a href="http://www.leapellarin.fr">Léa Pellarin</a></li>
        <li><a href="http://inthemoods.fr">Moods</a></li>
        <li><a href="http://chetnuneta.net">Chet Nuneta</a></li>
        <li><a href="http://www.caravanasun.com">Caravana Sun</a></li>
        <li><a href="https://www.facebook.com/ahueetadia">A hue et à Dia</a></li>
        <li><a href="http://compagniedes4coins.fr">Compagnie des 4 coins</a></li>
    </ul>
</section>

<section id="associations">
    <h2>Associations</h2>
    <ul>
        <li><a href="http://bhairavilorraine.free.fr/bhairavi.html">Bhairavi</a></li>
        <li><a href="http://www.inecc-lorraine.com">Inecc</a></li>
        <li><a href="http://www.hamalecastorproduction.fr">Hama le castor</a></li>
    </ul>
</section>

<section id="infographie">
    <h2>Infographie et programmation</h2>
    <ul>
        <li><a href="http://www.kosmik.fr">Céline Berni</a></li>
        <li><a href="http://www.life-on-mars.fr">Xavier</a></li>
        <li><a href="http://www.bricosicien.fr">Bricosicien</a></li>
    </ul>
</section>

<section id="pedagogues">
    <h2>Pédagogues</h2>
    <ul>
        <li><a href="https://rythmeetpercussionscorporelles.com">Ludovic Prevel</a>, percussions corporelles</li>
        <li><a href="http://decaleou.com">Barth Russo</a>, percussions corporelles</li>
        <li><a href="http://www.anitadaulne.com/">Anita Daulnes</a>, chant</li>
        <li><a href="http://www.vincentzimb.com">Vincent Hickman</a>, kalimba</li>
        <li><a href="http://ptshankarghosh.com">Pandit Shankar Ghosh</a>, Tablas</li>
        <li><a href="http://henrikandersenmusic.com">Henrik Andersen</a>, Konnakol</li>
        <li><a href="http://lacroixvosgienne.jimdo.com">Philippe Rousseau</a>, clown</li>
        <li><a href="https://cieairblow.com/intervenant/gaspard-herblot">Gaspard Herblot</a></li>
    </ul>
</section>

<section id="lieux">
    <h2>Lieux artistiques et festivals</h2>
    <ul>
        <li><a href="http://arbrasserie.monsite-orange.fr">Arbrasserie</a> (88)</li>
        <li><a href="https://www.facebook.com/LaChaouee">La chaouée</a> (57)</li>
        <li><a href="http://www.rencarts26.org">Rencarts</a> (26)</li>
        <li><a href="http://lesmangeursdelune.fr">Les mangeurs de lune</a>, festival (67)</li>
        <li><a href="https://www.anartschroniques.org/site/">Le capharnaum</a>, festival (52)</li>
    </ul>
</section>

<section id="decouvrir">
    <h2>Sites à découvrir</h2>
    <ul>
        <li><a href="https://www.postcrossing.com">Postcrossing</a></li>
    </ul>
</section>
{% endblock %}
