{% extends 'content.html.twig' %}

{% block title %}Merci - dhamien.fr{% endblock %}
{% block heading %}Merci{% endblock %}

{% block body %}
<section>
    <h2>Pour leurs enseignements</h2>
    <p>Pandit Shankar Ghosh, Mililian Gali Rivery, Ludovic Prével, Khalid Kouhen, Guillaume Renaud, Jean Marius Le Prince, Julien et Donald Regnier, Philippe et Christelle Rousseau, Emmanuel Simon, Gopal Das, Laurent Lamy, Jérôme Chartier, Amit Chatterjee, Henry Sissoko, Guy Constant, Apurba Mukherjee, Jacques Tellitocci, Subrata Bhattacharya, Thierry Madiot et Alfred Spirli, Prabhu Edouard, Henrik Andersen, Vincent Hickman, Anita Daulnes, Reno Daniaud, Yani Aït Aoudia, Tobias Hug, Santiago Vasquez, Emmanuel Pesnot, Thierry Crommen, Jerome Goldschmitt, William Bur, Camille Pascal, Stephane Michel toute l'équipe de Sysmo, Jean Pascal Boffo et Damien Blanchot, Abel &amp; Camille Kieffer Schmutz&hellip;</p>
</section>

<section>
    <h2>Pour le plaisir partagé sur scène</h2>
    <p>la Manutention, Pim Stlick, les Darts, Mister Bouldegom, SNOB, Arnaud Eurin, [mue], Jérôme Salomon, los cabaitos del diablos, Chet Nuneta, la batucada EKO, Léa Péllarin, la Compagnie des 4 Coins, Aurélie Schmitt, la Esquina Latina, Mitch' et les pieds inégaux, Dimitri Dupont, l'association Pas Assez, le Zèbre, Rajib Karmakar et Surajoto Roy, Pierre Cocq-Amann, Luke Carra, Bastien Voland &amp; La batucada BPM, Thierry Morin &amp; le choeur Mozaïk, Éric Mass &amp; Eloise Maas Hartheiser, Moods, A Hue et à Dia, Emmanuel Simon, Alex Schnee, Solène Sirvente, Patrick Hannak &hellip;</p>
</section>

<section>
    <h2>Pour leur confiance et la liberté que cela m'offre</h2>
    <p>Tristan Krenc, l'INECC Mission Voix Lorraine, mes parents, la famille, les ami(e)s&hellip;</p>
</section>

<section>
    <h2>Pour mon Karma</h2>
    <p>Tous mes anciens voisins pour les heures de tambours qu'ils ont du supporter.</p>
</section>

<section>
    <h2>Pour leurs compétences professionnelles et leur patience amicale</h2>
    <ul>
        <li>Céline Berni et Xavier Biglieto, concepteurs de ce site internet.</li>
        <li>Mélanie Gerber, conceptrice de ma carte de visite.</li>
        <li>Gilles Sandrin, Stéphane Ulrich et leurs soutiens audiovisuels</li>
        <li>Thomas Girod pour sa maitrise du &laquo;&nbsp;Just Another Vague Acronym&nbsp;&raquo;</li>
        <li>Didi pour les accents sur les à</li>
    </ul>
</section>

<section>
    <h2>Pour l'amour de leur musique</h2>
    <p>Bebo Valdés, Hariprasad Chaurasia et Radiohead.</p>
</section>

<section>
    <h2>&hellip;</h2>
    <p>A ceux que j'ai malheureusement oubliés ou simplement pas encore rencontrés&hellip;</p>
</section>
{% endblock %}
